{% extends "base_template.html" %} {% block title %}Home{% endblock title %} {%
block body %}
<h1>Full Stack Flask, Docker, MySQL, MinIO Scaffolding</h1>

<p>
  This application does very little. It is intended to show the way several
  components can be combined together with Docker to create a full stack
  application. This file shows that each component is working.
</p>

<h2>Flask</h2>
<p>
  Flask handles the logic, routing, and templating. If you can see this page, it
  is working.
</p>

<h2>MySQL</h2>
<p>
  MySQL forms the database backend, via the SQLAlchemy package. Here is a list
  of the entries of the "users" table:
</p>
<ul>
  {% for user in users %}
  <li>Name: {{user.name}}<br />Email: {{user.email}}</li>
  {% endfor %}
</ul>
<p>You can modify the database contents <a href={{ url_for("database.edit_users") }}>here.</a></p>

<h2>S3 Storage</h2>
<p>
  Files are stored in MinIO, a storage server that is compatible with Amazon's S3 storage API. You can explore the files currently in the storage space <a href={{ url_for("storage.explore_storage")}}>here.</a>
</p>

<h2>Static Files</h2>
<p>
  Static files such as CSS and site images can be served by the Flask server,
  but it is recommended that they instead be served by an application more
  suited to the task, such as Nginx. Nginx will serve as a proxy in front of the
  app, routing most traffic to the Flask application, but will serve the
  <code>/static</code> folder itself.
</p>

<p>
  If this page has non-default styling and you can see the image below, static
  files are being served.
</p>

<img src={{ url_for('static',
filename='cinque-terre.jpg')}} alt="Cinque
Terre" title="Cinque Terre">
<h2>S3 Images</h2>

<p>You may want to use your S3 storage to host images for your application. If using a cloud service like AWS S3, every object has a URL associated with it.  The same is true of MinIO (the self-hosted S3-compatible storage server we are using). The difference is that we are not directly exposing MinIO to users (though we could). So we must use Nginx to proxy requests for images to the MinIO server. </p>

<p>To test if this is working, you must create a bucket called "test-bucket" and upload an image "test-image.jpg" to that bucket.  The bucket must be publicly readable. You should see this image below.</p>

<img src={{ url_for('main.s3image', bucket_name='test-bucket', object_name='test-image.jpg')}} title="Test Image" alt="Test Image">

{% endblock body %}
